.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .custom-select {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 20px 0;
  }

  .custom-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  .custom-select option:disabled {
    color: #888;
  }

  .rbc-calendar {
    width: 100%;
  }

  .rbc-toolbar {
    margin-bottom: 25px;
  }

  .rbc-toolbar-label {
    text-align: right !important;
    padding: 0px 20px !important;
  }

  .rbc-btn-group:first-child button {
    border: none !important;
    background-color: #eef1ff !important;
    margin-left: 2px !important;
  }

  .rbc-btn-group:last-child {
    font-size: 13px !important;
  }

  .rbc-btn-group:last-child button {
    border: none !important;
    background-color: #eef1ff !important;
    margin-left: 2px !important;
  }

  .rbc-toolbar button.rbc-active {
    background-color: #c8d2ff !important;
    box-shadow: none !important;
  }

  .rbc-time-view {
    border-color: #eee !important;
  }

  .rbc-time-header {
    display: none !important;
  }

  .rbc-time-content {
    border: none !important;
  }

  .rbc-time-gutter.rbc-time-column {
    font-size: 12px !important;
  }

  .rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
    padding: 0px 20px !important;
  }

  .rbc-timeslot-group {
    background-color: #f7fdff !important;
  }

  .rbc-day-slot {
    font-size: 14px !important;
  }

  .rbc-event {
    border: none !important;
    color: black !important;
    padding: 10px !important;
    margin: 10px !important;
  }

  .rbc-event {
    background-color: #e2f8ff !important;
  }

  .rbc-event-label {
    color: gray !important;
    margin-bottom: 5px;
  }

  .rbc-current-time-indicator {
    display: none;
  }
}
